name: Publish Docker Image

on:
  push:
    branches: main

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date -I)"

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            netsandbox/request-tracker-base:latest
            netsandbox/request-tracker-base:${{ steps.date.outputs.date }}
            docker.pkg.github.com/${{ github.repository }}/request-tracker-base:latest
            docker.pkg.github.com/${{ github.repository }}/request-tracker-base:${{ steps.date.outputs.date }}
